@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1595744239726'); /* IE9 */
  src: url('iconfont.eot?t=1595744239726#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKAAAsAAAAABiQAAAI0AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAowTQE2AiQDCAsGAAQgBYRtBzAbcwUR1YtBsj9AJre6A1Jqzoq5qpG07eqA9yPgPOx+MZgNGClcBQkAAAAAEEH8frTZ9/ZUk2q8aI5ZNU9UqJogZEIhREIiJGuXsBB/AxRwxUsAmfkeQAAcdTldDkeQCPMO1yV7yA7P8hmfdMzvdxlFPjDPtw/QW70AyCEOAwMupz+BHmR1QLntSWNNHhMwsDTAvTCKrEgibxi74AU+JtBpwpo4KC7c0C7ZqwLxon58V3shIiXLtwutDQdTfKL28qHEx+j78buQoqWym648Onxg52ynqNZUQIgioOMtqFhDEjcaM5dUwbiq83SaQUrB2U2D3eKoDsH+Oru2G4xB5TOpvCMCFJDJZDv6Jl1EyXy1bmxtMtd7f9+2P/bod+yA5vqvBILPWf36dt9zbwm+8z8INacY5qN9VW/wC1QDB9LQ2K6SmqrRWiatLOjUiQYcGPRrqnXkfIXQbuSsvjbjGap2c2Sya2jRZR2t2m2j06rj412GvFRFdmDFG4DQ7wuKXl9R9ftGJvsTLUb9Rav+AJ1uxf3CLgsh1RKhYrSgT6jNODjXwzKuf6FfO0V5TcT/kJY6DnEQlfMlDkhLbFk2nzA7cDT2UIDnsOtGmGhs0HBQMU9pGLqmNwVm7IWEUDFa0CfUZhxcMJ5l5fMv9GunqKOlLv9DWurpIQ6iAWRpHAa1PMory+YTZgeOxh4KMA+7boSpeV6DhoNqQmpKQ2eUG2oMtjf3P1DBOrBtl3BmVT1e1aBrIQAAAA==') format('woff2'),
  url('iconfont.woff?t=1595744239726') format('woff'),
  url('iconfont.ttf?t=1595744239726') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1595744239726#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e51c";
}

